.responsive-image {
    width: 100%;
    height: auto; 
    max-width: 400px; 
    display: block;
    margin: 0; 
    opacity: 0.5;
}

body {
    background-image: url('https://i.pinimg.com/736x/e5/a4/a2/e5a4a2fb057e2cbc97f4b1187161a033.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.818); 
    z-index: -1;

}